<ion-content [fullscreen]="true">
  <!-- Header -->
  <div class="banner">
    <h1 class="banner-title">Mes alertes</h1>
  </div>

  <div *ngFor="let item of items |async">
    <ion-card class="custom-card">
      <ion-item lines="none" class="custom-item">
        <ion-avatar slot="start" class="small-avatar">
          <img src="../../assets/medicament.png" />
        </ion-avatar>
        <ion-card-header>
          <ion-card-title> {{item.Name}} </ion-card-title>
          <ion-card-content> {{item.hour}} </ion-card-content>
        </ion-card-header>
      </ion-item>

      <ion-button
        class="custom-button"
        size="small"
        fill="clear"
        (click)="updateHour(item.Name)"
      >
        <ion-icon class="custom-icon" slot="start" name="create"></ion-icon>
      </ion-button>
    </ion-card>
  </div>

  <div class="ion-text-center">
    <ion-button fill="outline" size="large" (click)="selectAlerts()"
      >Ajouter</ion-button
    >
  </div>
</ion-content>
