ion-content {
  --background: rgb(237, 243, 247);
}

.title {
  text-align: left;
  font-family: "Rubik", sans-serif;
  color: #1fc8cf;
}
ion-toolbar {
  height: 80px;
  --background: rgb(237, 243, 247);
}

ion-toolbar img {
  height: 100%;
  position: absolute;
  top: 0;
  right: 10px;
}

ion-header {
  margin-top: 10%;
}


//css page 

.header{
  background-color: #1fc8cf;
  height: 180px;
  padding-top: 1px;
}

.header h2{
  color: aliceblue;
  font-weight: bold;
  text-align: center;
}

.space-between{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
}

.followings{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.followings p{
  color: white;
  margin: 8px 0px 0px 0px;
}

.image-box{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  overflow: hidden;
}

.border-white{
  border: 4px solid white;
  border-radius: 50%;
  width: fit-content;
}

.border-blue{
  border: 7px solid rgb(72, 72, 232) ;
  border-radius: 50%;
  width: fit-content;
}

.flex{
  display: flex;
  justify-content:center;
  margin-top: -84px;
}

.tweet{
  margin-top: -10px;

}

.tweet ion-label{
  line-height: 1!important;
  font-size: 15px;
  margin: 6px 0px 6px 0px!important;
  min-height: 34px;
}

.small-avatar {
  width: 30px;
  height: 30px;
}

.custom-item {
  align-items: flex-start;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}