ion-content {
  --background : rgb(237, 243, 247);
}
ion-card {
  background-color: #65fcc8;
}

a{
    text-decoration: none;
}

button{
    justify-content: center;
}

.title {
  text-align: left;
  font-family: "Rubik", sans-serif;
  color: #1fc8cf;
}
ion-toolbar {
  height: 80px;
  --background : rgb(237, 243, 247);
}

ion-toolbar img {
  height: 100%;
  position: absolute;
  top: 0;
  right: 10px;
}

ion-header {
  margin-top: 10%;
}

