<ion-content [fullscreen]="true">
  <div class="banner">
    <h1 class="banner-title">Contacts d'urgence</h1>
  </div>

  <!-- Liste avec les numéros d'urgence -->
  <a href="{{'tel:'+888}}">
    <ion-card *ngFor="let item of items |async">
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
        
        <ion-card-subtitle>Cliquez pour appeler</ion-card-subtitle>
      </ion-card-header>
      <ion-button class="custom-icon" (click)="delete(item.id)" fill="clear">
        <ion-icon name="trash"> </ion-icon>
      </ion-button> </ion-card
  ></a>

  <div class="ion-text-center">
    <ion-button fill="outline" size="large" (click)="add()">Ajouter</ion-button>
  </div>
</ion-content>
