<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon aria-hidden="true" name="medkit"></ion-icon>
      <ion-label>Profil santé</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alerte">
      <ion-icon aria-hidden="true" name="alarm-outline"></ion-icon>
      <ion-label>Alertes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon aria-hidden="true" name="call"></ion-icon>
      <ion-label>Contact d'urgence</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
