<ion-content [fullscreen]="true">
  <!-- Header -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="title">Memo mate</ion-title>
      <img src="../assets/logo.png" alt="logo" />
    </ion-toolbar>
  </ion-header>

  <ion-card
    *ngFor="let item of items |async"
    (click)="onCardClick($event, item)"
  >
    <ion-card-header
      [ngStyle]="{ 'background-color': item.selected ? 'red' : 'white' }"
    >
      <ion-card-title>{{item.Name}}</ion-card-title>
      <ion-card-subtitle
        >{{item.selected ? 'J\'ai pris ce médicament' :'Je n\'ai pas pris ce médicament'}}
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!-- Appel d'urgence -->
  <a href="{{'tel:'+888}}">
    <!-- appel au 15 -->
    <ion-card class="urgence">
      <ion-card-header>
        <ion-card-title>APPEL D'URGENCE </ion-card-title>
      </ion-card-header>
    </ion-card></a
  >
</ion-content>
