ion-content{
  --background: #202020;
}

ion-card {
  --background: #65fcc8;
  text-align: center;
}

a {
  text-decoration: none;
}

.urgence {
  --background: #fc6565;
}

.title {
  text-align: center;
  font-family: "Rubik", sans-serif;
  color: #1fc8cf;
}

ion-toolbar {
  height: 80px;
  --background: #202020;
}

ion-toolbar img {
  height: 100%;
  position: absolute;
  top: 0;
  right: 10px;
}

ion-header {
  margin-top: 10%;
}

.alerte {
  background-color: aliceblue;
}
